@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

:root {
    --poke-font: "Hammersmith One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefbb;
    background: linear-gradient(to right, #ffffff, #c7c7c4);
    font-family: var(--poke-font);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 50px;
    display: flex;
    color: #d10801;
    text-shadow: 3px 3px #b5b3b3;
}

h1 img {
    margin-right: 15px;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.8);
}

.pokemon .img-container img {
    max-width: 100%;
}

.pokemon .name {
    text-transform: capitalize;
    margin-top: 10px;
}

.pokemon .number {
    background-color: #ffffff;
    padding: 1px 5px;
    border-radius: 5px;
    border: 1px solid #5c5c5c;
}

.pokemon .type span {
    text-transform: uppercase;
}

.pokemon .stats {
    margin-top: 10px;
    font-size: 12px;
}
