* {
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90vw;
    height: 100vh;
    display: flex;
    background-color: brown;
}

.panel {
    flex: 0.5;
    margin: 10px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: cadetblue;
}

.panel active {
    flex: 5;
}
